.log
.DS_Store
.jest-*
.cache
base64-encryption-and-signature-jwks.txt
certs-client/localhost-client-ca-cert.srl
certs-client/localhost-client.crt
certs-client/localhost-client.csr
dist
dump.rdb
lerna-debug.log
node_modules
public
yarn-error.log
.idea/
.env
/packages/**/.env
